* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #38b44e;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), #38b44e;
    background-image: url("../img/bg-chart.png");
    background-image: url("../img/bg-chart.png"), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 120% 10%;
}

body {
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
}

div#main {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* NAV */

.nav {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 0px 40px 0 0;
    font-weight: 700;
    font-size: 29px;
}

h1 img {
    margin-right: 20px;
    height: 40px;
}

.nav>ul.links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    min-width: 515px;
}

.nav>ul.links>li {
    list-style: none;
    display: flex;
    height: 35px;
    align-items: center;
    margin-right: 10px;
}

.nav>ul.links>li:last-child {
    margin-right: 0px;
}

.nav>ul.links>li>a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav>ul.links>li:last-child>a {
    list-style: none;
    display: flex;
    color: #5CC26E;
    background: #FFFFFF;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 6px 11px;
}


/* ./NAV */

div#home {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 30px 60px;
    min-height: 100vh;
}

div#home .content {
    display: flex;
    flex: 1;
}

div#description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#mobile {
    flex: 1;
    position: relative;
}

#home h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: -100px;
    margin-bottom: 0;
}

#home h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}

.buttons-container {
    display: flex;
}


/* BUTTON */

a.button {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 215px;
    min-width: 165px;
    flex: 1;
    height: 70px;
    border-radius: 15px;
    background-color: #333;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: white;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

a.button strong {
    display: block;
}

a.button img {
    width: 35px;
    height: 37px;
}

a.button.primary {
    background: linear-gradient(83.78deg, rgba(0, 0, 0, 0.1) -0.28%, rgba(255, 255, 255, 0.1) 100%), #333333;
}

a.button.secondary {
    background: transparent;
    border: 1px solid #FFFFFF;
}

a.button>img {
    margin-right: 15px;
    width: 30px;
}


/* ./BUTTON */

div#mobile>img {
    width: 70%;
    position: absolute;
    max-width: 450px;
}

@media (max-width: 768px) {
    div#mobile>img {
        width: 60%;
    }
}

div#mobile>img:first-child {
    right: -60px;
    top: -80px;
}

div#mobile>img:last-child {
    right: 100px;
    top: 20px;
}

.title-container {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #333333;
    margin: 55px 0;
}

.title-container h2 {
    font-size: 45px;
    margin: 0px;
}

.title-container h3 {
    font-size: 16px;
    color: #333333;
    margin: 35px 0 0 0;
}

.title-container-white h2,
.title-container-white h3 {
    color: #ffffff;
}

/* HOW IT WORKS */

#how-it-works {
    background: #DEDEDE;
    background-image: url("../img/bg-chart2.png");
    background-image: url("../img/bg-chart2.png"), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 90%;
    padding-bottom: 55px;
    margin-bottom: -100px;
}


/* ./HOW IT WORKS */


/* ABOUT PROJECT */

#about-project {
    background-color: #38B44E;
    background-image: url("../img/about-bg.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding: 100px 0;
    height: 100%;
    background-size: cover;
}

.about-content {
    display: flex;
    padding: 0 150px;
    padding-top: 10px;
}

.about-content>div:first-child {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.about-content>div:last-child {
    flex: 2;
}

.about-content img {
    max-width: 305px;
    width: 100%;
}

.about-content .description {
    font-family: 'Roboto';
    margin-left: 150px;
    text-align: right;
    font-size: 34px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-content .description strong {
    font-weight: 500;
}

.about-content .description p.join-the-team {
    font-weight: 400;
    margin-top: 40px;
}

.about-content .description p.join-the-team a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.about-content .description p.join-the-team a:hover {
    font-weight: 900;
}

.about-content .description p.join-the-team a:hover::before {
    border-bottom: 3px solid #fff;
}

.about-content .description p.join-the-team a::before {
    content: '';
    border-bottom: 3px solid #4CE2AD;
    width: 110%;
    position: absolute;
    bottom: 0;
    left: -5%;
    rotate: -1deg;
}

@media (max-width: 992px) {

    #about-project {
        padding: 20px 0 50px 0;
    }

    .about-content .description p {
        margin-bottom: 20px;
    }

    .about-content .description p.join-the-team {
        margin-top: 40px;
    }

    .about-content {
        flex-direction: column;
        padding: 0 20px;
    }

    .about-content .description {
        margin-left: 0px;
        text-align: left;
    }

    .about-content img {
        width: 150px;
        margin-bottom: 30px;
    }

}


/* ./ABOUT PROJECT */

/* ACONTACT */

#contact {
    background-image: url('/img/map.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 300px;
    margin-bottom: -300px;
}

#contact>div.form-container {
    padding: 0 10%;
    margin-bottom: 70px
}

#contact form {
    padding: 50px;
    background-color: #fff;
    width: 436px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 20px;
}

#contact form h3 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #333333;
}

.input-container,
.textarea-container {
    width: 100%;
    color: #333;
    margin: 50px 0;
}

.input-container label {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    color: #000000;

}

.input-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    text-align: right;
    font-size: 18px;
    height: 25px;
    outline: none;
    font-family: 'Roboto';
}

.textarea-container label {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}

.textarea-container textarea {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #DEDEDE;
    border-radius: 7px;
    min-height: 88px;
    font-size: 18px;
    font-family: 'Roboto';
    padding: 12px;
}

#contact button {
    background: #38B44E;
    border-radius: 15px;
    width: 100%;
    margin-top: 30px;
    height: 60px;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 768px) {
    #contact>div.form-container {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #contact form {
        padding: 30px;
        width: 85%;
    }

}

/* ./ACONTACT */

/* CARDS */

.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.cards-container .card {
    width: 260px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 22px 22px 14px 22px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.cards-container .card .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cards-container .card .card-header svg path {
    fill: #fff;
}

.cards-container .card h3 {
    font-weight: 500;
    font-size: 24px;
    color: #333333;
    margin-bottom: 17px;
}

.cards-container .card p {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    line-height: 120%;
}

.cards-container .card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cards-container .card .card-footer {
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
    color: #5455FF;
    margin-top: 30px;
}

.cards-container .card:hover {
    background-color: #5455FF;
    cursor: pointer;
    position: relative;
    top: -14px;
    transition: top 0.3s ease 0s;
}

.cards-container .card:hover h3,
.cards-container .card:hover p,
.cards-container .card:hover .card-footer {
    color: #fff;
}

.cards-container .card:hover .card-header img {
    filter: saturate(0%) contrast(10000%);
}


/* ./CARDS */

/* ONBOARDING */

#onboarding {
    background-color: #fff;
}

/* ./ONBOARDING */

/* FOOTER */

#footer {
    padding: 0;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
}

#footer .footer-top {
    height: 127px;
    overflow: hidden;
}

#footer .footer-top img {
    width: 100%;
    margin: 0;
    height: 130px;
}

#footer>.footer-container {
    background-color: #38B44E;
    padding: 0 60px 60px 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    z-index: 100;
}

#footer>.footer-container h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 10px 0;
}

#footer>.footer-container>div:first-child {
    flex: 1;
}

#footer>.footer-container>div:nth-child(2) {
    margin-top: 30px;
    flex: 2;
}

#footer>.footer-container>div:last-child {
    margin-top: 30px;
    flex: 1;
}

#footer>.footer-container>div:first-child img {
    width: 100px;
    margin-bottom: 30px;
}

#footer .footer-links {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

@media (max-width: 768px) {
    #footer>.footer-container {
        flex-direction: column;
        gap: 0px;
    }
}

/* ./FOOTER */

@media (max-width: 992px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .cards-container li.card {
        margin-bottom: 30px;
        width: 100%;
    }

    div#home {
        padding: 15px
    }

    .nav {
        padding: 15px;
        margin-bottom: 10px;
    }

    .nav>ul.links {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    div#mobile>img:first-child {
        right: 0;
        top: 0;
    }

    div#mobile>img:last-child {
        right: 70px;
        top: 80px;
    }
}

@media (max-width: 768px) {
    div#home .content {
        flex-direction: column;
    }

    div#mobile {
        min-height: 115vw;
    }

    div#description {
        align-items: flex-start;
    }

    #home h2 {
        margin-top: 20px;
        max-width: 400px;
        font-size: 2.5rem;
    }

    #home h3 {
        font-size: 1rem;
    }
}