<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Onboarding</title>
	<!--Google Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

	<link rel="stylesheet" href="/css/Onboarding.css" />
</head>

<body>
	<nav>
		<a href="/">
			<img src="/img/logo.svg" alt="">
			<p> Bills Tracker</p>

		</a>
	</nav>

	<header>
		<div class="container">
			<div class="title">
				<!--<img src="/img/bg-chart.png" class="chart"></img>-->
				<div class="title-container">
					<h1>Onboarding</h1>
				</div>

			</div>
		</div>
		</div>
	</header>
	<main>
		<h2></h2>
		<ol>
			<li>
				<h2>Create a spreadsheet and share it</h2>
				Share your spreadsheet with link sharing: Anyone with the link can edit.
				<br>
				<img src="https://i.imgur.com/uxwXHRk.png" class="big-image" alt="">
			</li>
			<li>
				<h2>Copy spreadsheet ID</h2>
				For example, on <br>
				<code>
					https://docs.google.com/spreadsheets/d/1qffzsCf2siRv-loAAMLeGzsSsmwcT3odSfmXBASO0fg/edit#gid=0
				</code>
				<br>
				the ID is <br>
				<code> 1qffzsCf2siRv-loAAMLeGzsSsmwcT3odSfmXBASO0fg</code>
			</li>
			<li>
				<h2>Generate JSON file</h2>
				<ol>
					<li>Go to the Google Developers Console</li>
					<li>Select your project or create a new one (and then select it) </li>
					<img class="little_image" src="https://i.imgur.com/2L3jidY.png" alt="">
					<img class="little_image" src="https://i.imgur.com/YEBjmMp.png" alt="">
					<li>Enable the Sheets API for your project</li>
					<li>In the sidebar on the left, select APIs & Services > Library </li>
					<img class="big-image" src="https://i.imgur.com/zdezoMD.png" alt="">
					<li>Search for "sheets"</li>
					<li>Click on "Google Sheets API"</li>
					<li>click the blue "Enable" button</li>
				</ol>
			</li>
			<li>
				<h4>Create a service account for your project</h4>
				<ol>
					<li>In the sidebar on the left, select APIs & Services > Credentials</li>
					<li>Click blue "+ CREATE CREDENITALS" and select "Service account" option </li>
					<img class="little_image" src="https://i.imgur.com/z2fipYp.png" alt="">
					<li>Enter name, description, click "CREATE"</li>
					<li>You can skip permissions, click "CONTINUE"</li>
					<li>Click "DONE"</li>
					<li>Click the name of your credential</li>
					<li>Go to keys</li>
					<li>Select Add key > Create new key </li>
					<img class="little_image" src="https://i.imgur.com/XDXuK5D.png" alt="">
					<li>Click "DONE"</li>

				</ol>
			</li>


		</ol>
	</main>
	<footer>
		<img src="/img/bg.svg" alt="">
	</footer>
</body>

</html>