html,
body {
  margin: 0;
  box-sizing: border-box;
  padding-top: 0 !important;
}

html {
  height: 100vh;
  background-color: #38b44e;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #38b44e;
  background-image: url("../img/bg-chart.png");
  background-image: url("../img/bg-chart.png"),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  background-repeat: no-repeat;
  background-position: 120% 30%;
  background-attachment: fixed;
}

body {
  padding: 30px 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

div#main {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  width: 100%;
}

h1 img {
  margin-right: 20px;
}

div#content {
  display: flex;
  flex: 1;
  margin-top: 100px;
}

div#description {
  max-width: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#mobile {
  flex: 1;
  position: relative;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: -100px;
  margin-bottom: 0;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

a {
  margin-top: 50px;
  background: #333333;
  border-radius: 15px;
  width: 300px;
  height: 60px;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background: #444;
}

a > img {
  margin-right: 15px;
  width: 30px;
}

div#mobile > img {
  width: 70%;
  position: absolute;
  max-width: 450px;
}

div#mobile > img:first-child {
  right: -60px;
  top: -80px;
}

div#mobile > img:last-child {
  right: 40px;
  top: 40px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  div#mobile > img:first-child {
    right: 0;
    top: 0;
  }

  div#mobile > img:last-child {
    right: 70px;
    top: 80px;
  }
}

@media (max-width: 730px) {
  html {
    height: auto;
  }

  body {
    padding: 15px;
  }

  div#content {
    flex-direction: column;
  }

  div#description {
    align-items: flex-start;
  }

  h2 {
    margin-top: 20px;
    max-width: 400px;
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  a {
    width: 100%;
    max-width: 300px;
  }
}
